{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block main_heading %}Home{% endblock %}

{% block main_block %}
    <div class="centered-row">
        {% for video in videos %}

        <figure>
          <iframe width="560" height="315" src="{{ videos[video][0] }}" title="YouTube video player" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
          <figcaption class="text-strong color-green">{{ videos[video][1] }}</figcaption>
        </figure>
        {% endfor %}
    </div>
      <div class="margin-top centered-row">
        <button type="button" class="medium-button shadowed bg-color-orange" href="">Music and Sounds</button>
      </div>

      <div class="centered-row row-4-col margin-top gap-mid">
        <div class="quotebox border-black shadowed-large">
          <q class="text-strong">Working with Anton, sound just works!</q>
          <p class="text-secondary vertical-center">Nir</p>
          <button type="button" class="medium-button shadowed bg-color-orange border-black" href="">
            Copywriter
          </button>
        </div>
        <div class="quotebox border-black shadowed-large">
          <q class="text-strong">Working with Anton is a blast!</q>
          <p class="text-secondary vertical-center">Vincent</p>
          <button type="button" class="medium-button shadowed bg-color-orange border-black" href="">
            Flying Fridge Games
          </button>
        </div>
        <div class="quotebox border-black shadowed-large">
          <q class="text-strong">Anton delivers great sounds!</q>
          <p class="text-secondary vertical-center">David &amp; Emil</p>
          <button type="button" class="medium-button shadowed bg-color-orange border-black" href="">
            Stonetech Games
          </button>
        </div>
        <div class="quotebox border-black shadowed-large">
          <q class="text-strong">The music elevated my video</q>
          <p class="text-secondary vertical-center">Nenad</p>
          <button type="button" class="medium-button shadowed bg-color-orange border-black" href="">Youtube</button>
        </div>
      </div>
{% endblock %}